ruff
colorama
termcolor
sqlalchemy[asyncio]
asyncpg
python-dotenv
pytest
pytest-asyncio
beautifulsoup4
aiohttp[speedups]
pandas[excel]
djangorestframework
psycopg2
djangorestframework-stubs
gunicorn
drf_spectacular