ruff
colorama
termcolor
sqlalchemy[asyncio]
asyncpg
python-dotenv
pytest
beautifulsoup4
aiohttp[speedups]
pandas[excel]
djangorestframework
psycopg2
djangorestframework-stubs
gunicorn
drf_spectacular

fastapi[all]
alembic
fastapi-cache2[redis]
pytest-dotenv
anyio
mixer
asgi-lifespan
pytest-mock